ACTION!="add|change", GOTO="mbim_to_qmi_rules_end"
SUBSYSTEM!="usb|drivers", GOTO="mbim_to_qmi_rules_end"

# load qcserial module
SUBSYSTEM=="usb", \
        ATTR{idVendor}=="413c", ATTR{idProduct}=="81b1", \
        RUN+="/sbin/modprobe -b qcserial"

# force Dell WWAN 5809e to configuration #1
SUBSYSTEM=="usb", \
        ATTR{idVendor}=="413c", ATTR{idProduct}=="81b1", \
        ATTR{bConfigurationValue}="1"

# add the new id in the qcserial driver
SUBSYSTEM=="drivers", \
        ENV{DEVPATH}=="/bus/usb-serial/drivers/qcserial", \
        ATTR{new_id}="413c 81b1"

LABEL="mbim_to_qmi_rules_end"
